<form method="POST" action="/catalog/create">
<label>Title: <input type="text" name="title"></label>
<label>Author: <input type="text" name="author"></label>
<input type="submit" value="Create">
</form>